*{
    margin: 0;
    padding: 0;
    border: none;
}

.main {
    margin: auto;
    width: 1000px;
    height: 600px;
    background-color: white;
}

/* css tren  */
#tren {
    width: 100%;
    height: 120px;
    border-bottom: 8px solid green;
}

/* css tren trai  */
#tren .trai {
    width: 50%;
    height: 120px;
    position: relative;
    float: left;
}

#tren .trai img{
    width: 80%;
    /* height: auto; */
    bottom: -40px;
    left: -5px;
    position: absolute;
    z-index: 2;
}

/* css div tren phai  */
#tren .phai {
    width: 50%;
    height: 120px;
    float: left;
}

#tren .phai .tren{
    width: 100%;
    height: 50%;
    position: relative;
}
#tren .phai .tren select,
#tren .phai .tren button {
    position: absolute;
    margin: 10px 20px;
    right: 10px;
    border: 1px solid black;
}
#tren .phai .tren select {
    margin-right: 40px;
    position: absolute;
}

#tren .phai .duoi {
    width: 100%;
    height: 50%;
    position: relative;
    bottom: 0;
    right: 20px;
}

.menu {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu td {
    text-align: center;
    border-right: 1px solid black;
}

.menu td:last-child {
    border-right: none;
}

/* css div duoi  */
#duoi {
    width: 100%;
    /* height: 600px; */
    height: 100%;
}

/* css div duoi-trai  */
#duoi .trai {
    width: 20%;
    height: 100%;
    background-color: #81d381;
    border-right: 5px solid green;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#duoi .trai .nen {
    margin: 10px 10px;
}

#duoi .trai .mau {
    position: absolute;
    right: -35px;
    z-index: 1;
}

#duoi .trai .hoavang {
    position: absolute;
    width: 280px;
    bottom: 30px;
    right: -80px;
    z-index: 1;
}

#duoi .trai .buom1 {
    position: absolute;
    top: 135px;
    z-index: 1;
    right: -50px;
}

/* css duoi-giua */
#duoi .giua {
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
}

/* css duoi-phai 600  */
#duoi .phai {
    width: 20%;
    height: 100%;
    position: relative;
    float: right;
    right: 0px;
    box-sizing: border-box;
} 

/* #duoi .phai .tren  */
#duoi .phai .tren {
    width: 100%;
    height: 160px;
    position: relative;
}

#duoi .phai .tren div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #81d381;

}
#duoi .phai .tren input{
    width: 100px;
}

/* #duoi .phai .duoi 600 160 */
#duoi .phai .duoi {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 6px dotted green;

} 
#duoi .phai .duoi img {
    position: relative;
    height: 95%;
    width: 50%;
    /* left: -10px; */
}

/* #duoi .giua  */
#duoi .giua {
    box-sizing: border-box;
    padding: 5px 20px 0px 100px;
    position: relative;
}

#duoi .giua div img {
position: absolute;
right: 50px;
top: 50px;
}

#duoi .giua h2 {
    padding:5px 0px 60px;
    font-size: 30px;
}

#duoi .giua p {
    font-size: 13px;
    line-height: 16px;
}